:root {
    --hauteur-principale : 90%;
    --largeur-principale : 70%;
    --couleur-utilisateur : #cccccc;
    --police: Palatino, URW Palladio L, serif;
}


/*
body {
    background-color: #000000;
}
*/

.navbar {
     list-style-type: none;
     margin-bottom: 50px;
     padding: 0;
     overflow: hidden;
     background-color: #333;
 }

.liste {
    list-style-type: none;

}
.liste li {
    padding-top : 5px;
    padding-bottom: 5px;
    padding-left : 5px;
    border : solid black 1px;
    border-radius : 4px;
    width : 50%;
    margin-bottom: 2px;
}


.navbar li{
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #111;
}


.titre {
    font-weight: bold;
    font-size: 1.5em;
}

.titrePage {
    font-weight: bold;
    font-size: 2em;
    font-family: var(--police);
    padding : 15px 15px 15px 15px;
    border-radius: 4px;
    background-color: #cccccc;

    text-align: center;
    width: 50%;
    margin-right: auto;
    margin-left: auto;

}
.corpsChat {
    margin-left : 5%;
    width : var(--largeur-principale);
    height: var(--hauteur-principale);
    float : left;
    background-color: #f8f8f8;
}

.messageEntree {
    text-align: center;
    margin-top : 15px;
    margin-bottom: 15px;
    float: auto;
}

.messageRecu, .messageEnvoye {
    padding : 20px 20px 20px 20px;
    border : 2px solid black;
    border-radius : 10px;
    margin: 5px 5px 5px 5px;
    width: 70%;
}

.messageRecu {
    float : left;
    margin-right: 30%;
    background-color: #ffffff;
}

.messageEnvoye {
    float : right;
    margin-left: 30%;
    background-color: var(--couleur-utilisateur)
}

.messageRecu .contexte .pseudo, .messageEnvoye .contexte .pseudo {
    color : blue;
    font-weight: bold;
}

.messageEnvoye .heure, .messageRecu .heure {
    float: right;
}

.listeParticipants {
    float : right;
    height : var(--hauteur-principale);
    width : calc(90% - var(--largeur-principale));
    border : 1px solid black;
}

.participant {
    text-align: center;
    padding-top : 10px;
    padding-bottom: 10px;
    margin-top : 5px;
    margin-bottom: 5px;
    border-top: 1px solid rgba(0, 0, 0, .5);
    border-bottom: 1px solid rgba(0, 0, 0, .5);
}

.envoiChat {
    margin-top: 60%;
    background-color: black;
    width : 100%;
    padding-left : 5%;
    padding-top: 5px;
}

.bouton, .inputLong, .inputCourt, .inputTresCourt {
    border-radius: 5px;
    border : 1px solid black;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: var(--couleur-utilisateur);
    margin-top: 5px;
    margin-bottom: 5px;
    align-self: left;
}

.inputLong {
    width : 80%;
}

.inputCourt {
    width : 50%;
}

.inputTresCourt {
    width : 20%;
}

.bouton:hover, .inputLong:hover, .inputCourt:hover, inputTresCourt:hover {
    background-color: #aaaaaa;
}

.pageEntiere {
}

.formulaire {
    margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
    height: 40%;
    padding-top : 5%;
    margin-right: auto;
    margin-left: auto;
    vertical-align: bottom;
    border : 2px solid #eeeeee;
    border-radius: 15px;
    text-align: center;
    width: 40%;
    background-color: #eeeeee;
    font-family: var(--police);
}

.tableauAuthentification {
    width : 80%;
    margin-right: auto;
    margin-left: auto;
}

.tableauAuthentification td {
    text-align: right;
    padding-right: 20%;
}

.mainContainer {
    align-content: center;
}